<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">
            body {
                font-size: 1em;
            }
            pre{
                white-space: pre-wrap;
            }
        </style>
    </head>
    <body>
        <h1>{{ meeting.meeting_date }} ブロック会議</h1>
        {% for issue in issues %}
        <hr />
        <b>{{issue.get_order_qualified_title}}</b><br />
        文責：{{ issue.author }}
        <hr />
        <pre>
        {{ issue.text }}
        </pre>
        {% endfor %}
    </body>
</html>
