{% extends "base.html" %}

{% block title %}{{issue.title}}{% endblock %}

{% block extrahead %}
<style type="text/css">
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
{% endblock %}

{% block content %}
    <h1 class="page-header">資料閲覧</h3>
    <h2>資料本文</h2>
    <dl class="dl-horizontal">
        <dt>日程</dt>
        <dd>{{issue.meeting.meeting_date}}</dd><br>
        <dt>資料の種類</dt>
        <dd>{{issue.issue_types.all|join:"・"}}</dd><br>
        <dt>タイトル</dt>
        <dd>{{issue.title}}</dd><br>
        <dt>文責者</dt>
        <dd>{{issue.author}}</dd><br>
        <dt>本文</dt>
        {% if issue.meeting.is_migrated_from_old_system %}
        {% autoescape off %}
        <dd><pre style="white-space:normal">{{issue.text}}</pre></dd><br>
        {% endautoescape %}
        {% else %}
        <dd><pre>{{issue.text}}</pre></dd><br>
        {% endif %}
        {% if issue.is_votable and not issue.meeting.is_migrated_from_old_system %}
        <dt>採決項目</dt>
        <dd><pre>{{issue.vote_content}}</pre></dd>
        {% endif %}
        {% if issue.tables %}
        <dt>表</dt>
        <dd>
	  {% for table in issue.tables %}
	  <table class="table table-condensed">
	    <caption>表{{forloop.counter}} - {{table.caption}}</caption>
	    {% for row in table.get_list %}
	    {% if forloop.first %}
	    <thead>
	      <tr>
		{% for column in row %}
		<th><div{% if not forloop.first %} class="text-right"{% endif %}>{{column}}</div></th>
		{% endfor %}
	      </tr>
	    </thead>
	    <tbody>
	      {% else %}
	      <tr>
		{% for column in row %}
		<td><div{% if not forloop.first %} class="text-right"{% endif %}>{{column}}</div></td>
		{% endfor %}
	      </tr>
	      {% if forloop.last %}</tbody>{% endif %}
	    {% endif %}
	    {% endfor %}
	  </table>
	  {% endfor %}
	</dd>
        {% endif %}
    </dl>
    {% if notes %}
    <h2>議事録</h2>
    <dl class="dl-horizontal">
        {% for note in notes %}
        <dt>{{note.block.name}}</dt>
        <dd><pre>{{note.text}}</pre></dd>
        {% endfor %}
    </dl>
    {% endif %}
{% endblock %}
n
