{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}議案の削除{% endblock %}


{% block content %}
    <h3 class="page-header">資料の削除</h3>
    {% include 'document_system/components/issue.html' %}
    
    <hr>
    <form action="" method="POST" class="form-horizontal">
        {% csrf_token %}
        {{form|bootstrap_horizontal}}
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-danger" type="submit">削除</button>
            </div>
        </div>
    </form>
{% endblock %}
