{% extends "base.html" %}
{% load bootstrap %}

{% block title %} 表投稿 {% endblock %}

{% block extrahead %}
    <style type="text/css">
        .multiple-checkbox ul {
            list-style:none;
            margin:0px;
            padding:0px;
        }
        .multiple-checkbox ul li {
            display:inline
        }
	textarea {
	   -moz-tab-size: 64 ;
           -o-tab-size: 64 ;
	   tab-size: 64 ;
	}
    </style>
{% endblock %}

{% block content %}
    <h3 class="page-header">表投稿</h3>

    <p>使いたい表の部分をExcelから以下にコピペしてください。</p>
    
    <form action="" method="POST" class="form-horizontal">{% csrf_token %}
        {{form|bootstrap_horizontal}}
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">投稿</button>
            </div>
        </div>
    </form>
{% endblock %}
