{% extends "base.html" %}
{% load bootstrap %}

{% block title %} 資料投稿 {% endblock %}

{% block extrahead %}
    <style type="text/css">
        .multiple-checkbox ul {
            list-style:none;
            margin:0px;
            padding:0px;
        }
        .multiple-checkbox ul li {
            display:inline
        }
    </style>
{% endblock %}

{% block content %}
    <h3 class="page-header">資料投稿</h3>
    <form action="" method="POST" class="form-horizontal">{% csrf_token %}
        {{form|bootstrap_horizontal}}
        <div class="form-group">
	{% if tables %}
	<dl class='dl-horizontal'>
    <dt>表</dt>
	<dd>
	  {% for table in tables %}
	  <table class="table table-condensed">
	    <caption>表{{forloop.counter}} - {{table.caption}}
	      <a class="btn-xs btn-success" href='{% url 'document_system:edit_table' pk=table.id %}' style='text-decoration:none'>表{{forloop.counter}}を編集</a>
</caption>
	    {% for row in table.get_list %}
	    {% if forloop.first %}
	    <thead>
	      <tr>
		{% for column in row %}
		<th><div{% if not forloop.first %} class="text-right"{% endif %}>{{column}}</div></th>
		{% endfor %}
	  </tr>
	    </thead>
	    <tbody>
	      {% else %}
	      <tr>
		{% for column in row %}
		<td><div{% if not forloop.first %} class="text-right"{% endif %}>{{column}}</div></td>
		{% endfor %}
	      </tr>
	      {% if forloop.last %}</tbody>{% endif %}
	{% endif %}
	    {% endfor %}
	  </table>
	  {% endfor %}
	  </div>
      </dd>
      </dl>
      {% endif %}
      <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">投稿</button>
	      <button type="submit" name="table_addition" value="true" class="btn btn-primary">表を追加(投稿)</button>
            </div>
        </div>
    </form>
{% endblock %}
