<h3 class='page-header'>
    {{ issue.get_title_with_types }}
    {% if issue.is_editable %}
        <a href='{% url 'document_system:edit_issue' issue_id=issue.id %}' class='btn-xs btn-success' style='text-decoration:none'>編集</a>
        <a href='{% url 'document_system:delete_issue' issue_id=issue.id %}' class='btn-xs btn-danger' style='text-decoration:none'>削除</a>
    {% endif %}
</h3>
<dl class="dl-horizontal">
    <dt>文責者</dt>
    <dd>{{ issue.author }}</dd>
    {% include 'document_system/components/issue_content.html' %}
</dl>
