<dl>
    {% for issue in issue_list %}
    <dt><a href="{% block detail_link %}{% url 'document_system:browse_issue_detail' pk=issue.id %}{% endblock %}">{{issue.get_title_with_types}}</a></dt>
    <dd>
        <small>
            {% if issue.meeting.is_migrated_from_old_system %}
            {{issue.get_tag_eliminated_text|slice:"0:300"}}...<br>
            {% else %}
            {{issue.text|slice:"0:300"}}...<br>
            {% endif %}
            <b>{{issue.meeting.meeting_date}}: {{issue.author}}</b><br>
            {% if issue.is_editable %}
            <a href='{% url 'document_system:edit_issue' issue_id=issue.id %}' class='btn-xs btn-success' style='text-decoration:none'>編集</a>
            <a href='{% url 'document_system:delete_issue' issue_id=issue.id %}' class='btn-xs btn-danger' style='text-decoration:none'>削除</a>
            {% endif %}
        </small>
    </dd><br>
    {% endfor %}
</dl>

