[Unit]
Description=Kumano Dormitory Document System
After=network.target

[Service]
ExecStart=/var/lib/kumanodocs/start.sh

[Install]
WantedBy=multi-user.target
