[Unit]
Description=Kumano Dormitory Document System
After=network.target

[Service]
# path to start.sh
ExecStart=/srv/kumanodocs/deploy/start.sh

[Install]
WantedBy=multi-user.target
