{% extends "base.html" %}

{% block title %}{{issue.title}}{% endblock %}

{% block extrahead %}
<style type="text/css">
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
{% endblock %}

{% block content %}
    {% include 'document_system/components/issue.html' %}
    {% if notes %}
    <h2>議事録</h2>
    <dl class="dl-horizontal">
        {% for note in notes %}
        <dt>{{note.block.name}}</dt>
        <dd><pre>{{note.text}}</pre></dd>
        {% endfor %}
    </dl>
    {% endif %}
{% endblock %}
