{% extends "base.html" %}

{% block title %}{{ issue_list.first.meeting.meeting_date }}のブロック会議資料{% endblock %}

{% block content %}
    <h1 class="page-header">{% block pageheader %}{{ issue_list.first.meeting.meeting_date }}のブロック会議資料{% endblock %}</h1>
    {% if issue_list %}
        {% for issue in issue_list %}
            <div style="margin:0px;padding:5px;border-style:solid;border-width:1px;border-color:#dddddd;">
                <h4>{{ issue.get_qualified_title }}</h4>
                <dl id='{{ issue.issue_order }}' class="dl-vertical">
                    {{ issue.author }}
                    {% include 'document_system/components/issue_content.html' %}
                </dl>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include 'document_system/components/pagination.html' %}
        {% endif %}
    {% else %}
        資料はありません
    {% endif %}
{% endblock %}
