{% extends "base.html" %}

{% block title %} 資料システム {% endblock %}

{% block content %}
<h1 class="page-header">資料システム</h1>
    <h2>資料の投稿</h2>
    
        <div class="btn-group btn-group-justified">
            <a href="{% url 'document_system:post_normal_issue' %}" class="btn btn-default {% if not Meeting.exists_normal_issue_meetings %}disabled{% endif %}">
                <b>通常資料</b><br>
                普通に資料を出す
            </a>
            <a href="{% url 'document_system:post_append_issue' %}" class="btn btn-default {% if not Meeting.exists_append %}disabled{% endif %}">
                <b>追加資料</b><br>
                資料委員会に間に合わなかった
            </a>
        </div>

    {% if Meeting.posting_note_meeting_queryset %}
    <h2>議事録の投稿</h2>
        <div class="btn-group btn-group-justified">
            {% for block in Block.all_blocks %}
            {% if block in Block.blocks_posted_notes %}
            <a href="{% url 'document_system:edit_note' block_id=block.id %}" class="btn btn-success col-sm-1">
                <b>{{ block.name }}</b><br>
                提出済
            </a>
            {% else %}
            <a href="{% url 'document_system:post_note' block_id=block.id %}" class="btn btn-danger col-sm-1">
                <b>{{ block.name }}</b><br>
                未提出
            </a>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}

<h1 class="page-header">使い方</h1>
    <h3>議案の種類</h3>
    <div class="well">
        <dl>
            <dt>通常資料</dt>
                <dd>
                    <ul>
                        <li>ブロック会議の前々日の21時が締め切り。</li>
                        <li>資料委員会が印刷する。</li>
                    </ul>
                </dd>
            <dt>追加資料</dt>
                <dd>
                    <ul>
                        <li>ブロック会議の当日の22時が締め切り。</li>
                        <li><b>議案提起者</b>が印刷する。</li>
                    </ul>
                </dd>
        </dl>
        また、いずれの議案の種類で投稿しても、資料システム上からは閲覧可能です。また、議事録も投稿できます。
    </div>

    <h3>議案の編集</h3>
    <div class="well">
        画面上部の「閲覧」ページから、議案が編集できます。ただし、議案が編集できるのは、そのブロック会議の普通資料の締め切りまでです。
    </div>

    <h3>差分の書き方</h3>
    <div class="well">
        前回の議案からの差分(or変更点)を簡潔に示したい場合は、議案の上部に変更点を文章でまとめてください。
        <h4>例</h3>
            <pre>
【変更点】
・総論に、達成されていない仕事についての記述を書き加えた。
・総論に、各仕事の担当セクションを書き加えた。
・決算に、前回精算していなかった分の支出を書き加えた（インク代、有線マイク代）。

【本文】

１，総論
　100期情報部会の活動方針において示した主な仕事のうち、メーリングリストの移行（情報技術セクション担当）と情報部会機器の事務室での貸出（情報技術セクション担当）については達成された。一方、各種講習会の実施（情報監督セクション）については達成されていない。詳しくは次章に譲る。

２，各セクション総括

２−１，情報技術セクション
①機器の管理
　担当者を決め、毎週SC室,食堂のプリンターのインクの補充を行った。
　情報部が管理する機器(プロジェクターとスクリーン,ビデオカメラ)の貸出業務を庶務部に移行した。また、情報部が保有していた2台のビデオカメラの内1台を人権擁護部に譲渡した。
　食堂プリンターの管理は行わないことを決定した。これは、試験的にプリンターを設置していた当時は、資料委員会用の紙を勝手に使ったり一度に大量の枚数を印刷するといった不適切な使い方をする人が一部に存在し情報部側から周知をしてもその様な事態が収まる様子はなかったことと、それによってプリンターの故障が相次いだりインクの交換頻度が多く………
            </pre>
    </div>

    <h3> 表の投稿の方法 </h3>
    <div class="well">
        <h4>前提</h4>
        <ul>
            <li><b>予算表</b>または<b>決算表</b>である</li>
            <li><b>Excel</b>(or 表計算ソフト)で作成された表である</li>
            <li>表の中にセルの結合がない</li>
        </ul>

        <h4>投稿の方法</h4>
        <ol>
            <li>資料を投稿するとき、「表を追加(投稿)」ボタンを使って投稿する</li>
            <li>次の画面で、
                <ul>
                    <li>（先ほど投稿した）資料のパスワード</li>
                    <li>表のタイトル（「情報部 決算」など）</li>
                </ul>
                を入力する。
            </li>
            <li>Excelから表をコピペする</li>
        </ol>
        <h4>注意</h4>
            <ul>
                <li>表のタイトルは、何の表なのか一意にわかるようにしてください。「予算」と書くのではなく、「情報部 予算」と書いてください。</li>
                <li>予算表と決算表以外は<b>投稿しないでください</b>。<small>表がおかしなことになります。</small></li>
            </ul>
    </div>
{% endblock %}
